:root{
    --prymary-color:#FFFFFF;
    --primary-brand-color:#4D5AE5;
    --pressend-state-color:#404BBF;
    --darc-color:#2E2F42;
    --green-color:#31D0AA;
    --body-text-color:#434455;
    --subtle-text-color:#8E8F99;
    --accent-color: #E7E9FC;
    --light-color:#F4F4FD;
    --overlay-color:rgba(46, 47, 66, 0.4);
    --Hero-image-background-color:rgba(46, 47, 66, 0.7);
    }

 body {
    background:var(--prymary-color);
    color:var(--body-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0;
    }
    
    h1,h2,h3,h4,h5,h6,p,ul{
    padding: 0;
    margin: 0;
    }

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    }
.link {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid red;
}

.section{
    padding-bottom: 120px;
    border: 5px solid green;

}
/*---------------HEDER---------------------*/
.header .container{
    
}
.logo{
    font-family:Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    }

.logo span{
    color:var(--primary-brand-color);}

.header-logo {
    padding-top: 24px;
    padding-bottom: 24px;  
    line-height: 1.33;
    color: var(--darc-color);
}

.header-list {
    display: flex;
    padding-inline-start: 0;
    margin-left: 76px;
}

/*.header-list .header-item:not(:last-child) {
        margin-right: 40px;
}*/

/*або всім у кого є сусід зверху, виходить всі крім першого*/
.header-list .header-item+.header-item{
    margin-left:40px;
}

.header-link{ 
    
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    color:var(--darc-color);
    font-weight:500;
    font-size:16px;
    line-height:1.5;
    letter-spacing : 0.02em;
    }

.header-link:hover,
.header-link:focus,
.address-link:hover,
.address-link:focus {
   color: var(--pressend-state-color);
    }

.current {
    color: var(--pressend-state-color);
    }
    
.header-address{
    margin-left: auto;
}
.address-list {
    padding-inline-start: 0;
    display: flex;

}


.address-list .address-item+.address-item{
    margin-left: 40px;
}
.address-link{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-style: normal;
    color:var(--body-text-color);
    letter-spacing: 0.02em;
    }

.header-navigation{
    display: flex;
}

.header .container{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--accent-color);
}


/*---------------HERO---------------------*/
.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color:var(--darc-color);
    text-align: center;
}

.hero-title{
    margin-bottom: 48px;
    color: var(--prymary-color);
    font-size: 56px;
    line-height:1.07;
    letter-spacing: 0.02em;
        
}

 .hero-btn {
   padding-top: 16px;
   padding-left: 32px;
   padding-bottom: 16px;
   padding-right: 32px;
   color: var(--prymary-color);
   background-color: var(--primary-brand-color);
   font-family: inherit;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.04em;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border-color: var(--primary-brand-color);
   cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--pressend-state-color);
}

/*---------------FEATURES, DOING, TEAM---------------------*/
.features{
    padding-top: 120px;
}
.features-list{
    display: flex;
    justify-content: center;
}
.features-item {
    width: 264px;
    
}
.features-item+.features-item{
    margin-left: 24px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
 }

.features-subtitle,
.team-subtitle,
.projects-sub-title {
    margin-bottom: 8px;
    color:var(--darc-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-text,
.team-subtitle,
.projects-text {
line-height: 1.5;
letter-spacing: 0.02em;
}

.doing-title,
.team-title {
    color:var(--darc-color);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;  
}
.doing-list{
    display: flex;
}

.doing-item:not(:nth-child(3n)){
    margin-right: 24px;
}


.team{
    padding-bottom: 120px;
    background-color: var(--light-color);
}

.team-list{
    display: flex;
}

.team-item {
    margin-right: 24px;
    width: 264px;
}

/*-----------------FOOTER--------------*/
 .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:var(--darc-color);
    
}
.footer-logo {
    margin-bottom: 16px;
    line-height: 1.67;
    color:var(--light-color);
    margin-bottom: 10px;
}

.footer-text{
width: 264px;
color:var(--accent-color);
line-height:1.5;
letter-spacing: 0.02em;
}
/*-----------------PORTFOLIO--------------*/

.btn-list{
    text-align: center;
    margin-bottom: 72px;
    margin-top: 96px;
    margin-right: 24px;
}

.projects-btn{
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 24px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background-color: var(--light-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    
}

.projects-btn:hover,
.projects-btn:focus{
    background-color:var(--pressend-state-color);
    color: var(--prymary-color);
}

.btn-item:not(:nth-last-child(-n+1)){
    margin-right: 24px;
}

.projects-text {
    font-family: inherit;
    color:var(--body-text-color)
}

.flex-conteiner{
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
}

.projects-item:not(:nth-child(3n)){
    margin-right: 24px;
}
.projects-item:not(:nth-last-child(-n+3)){
    margin-bottom: 48px;
}

.border{
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    padding-bottom: 32px;
    padding-top: 32px;
    padding-left: 16px;
}